
.vscode/arduino.json
.vscode/c_cpp_properties.json
.vscode/settings.json
esp32_marauder/.vscode/settings.json

MarauderOTA_PIO/.pio
MarauderOTA_PIO/.idea

esp32_marauder_pio/.pio
esp32_marauder_pio/.idea

TestFile/pio/.pio
TestFile/pio/.idea